body {
  background-color: rgb(177, 192, 203);
  font-family: Georgia, serif;
  text-align: center;
}
h1 {
  color: #251749;
  font-size: 575%;
  font-family: "Dancing Script", cursive;
}
p {
  color: #2a1b50;
  font-family: "Prosto One", cursive;
  font-size: 150%;
}

.mountain {
  display: block;
  position: relative;
  margin: 0 auto 2% auto;
}
span {
  text-decoration: underline;
}
.topCloud {
  position: relative;
  right: 15%;
  margin: 4% 0 2% 0;
  height: 14%;
  width: 14%;
}
.bottomCloud {
  position: relative;
  left: 15%;
  margin: 2% 0 2% 0;
  height: 14%;
  width: 14%;
}
.pic {
  margin: 2% 0 2% 0;
  height: 20%;
  width: 12%;
  border-radius: 100%;
}
h2 {
  color: #251749;
  font-size: 300%;
  font-family: "PT Sans", sans-serif;
}
h3 {
  color: #251749;
  font-size: 210%;
  font-family: "PT Sans", sans-serif;
}
hr {
  color: #251749;
  border: 1% 0 0 0;
  width: 20%;
}
