body {
  background-color: rgb(177, 192, 203);
  font-family: Georgia, serif;
  text-align: center;
}
h1 {
  color: #251749;
  font-size: 85px;
  font-family: "Dancing Script", cursive;
}
p {
  color: #2a1b50;
  font-family: "Prosto One", cursive;
  font-size: 24px;
}

.mountain {
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
  bottom: 60px;
}
span {
  text-decoration: underline;
}
.topCloud {
  position: relative;
  right: 250px;
  margin: 70px 0 30px 0;
  height: 14%;
  width: 14%;
}
.bottomCloud {
  position: relative;
  left: 250px;
  margin: 30px 0 70px 0;
  height: 14%;
  width: 14%;
}
.pic {
  height: 360px;
  width: 280px;
  border-radius: 100%;
}
h2 {
  color: #251749;
  font-size: 45px;
  font-family: "PT Sans", sans-serif;
}
h3 {
  color: #251749;
  font-size: 35px;
  font-family: "PT Sans", sans-serif;
}
